{% extends 'greetings/base.html' %}
{% block title %}Zmień hasło{% endblock %}

{% block content %}
 

<h1>Zmień hasło</h1>
<br>
<br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Zapisz</button>
    </form>
</div>
<br>
<br>
<ul>
    <li>
        Twoje hasło nie może być zbyt podobne do innych Twoich danych osobowych.
    </li>
    <li>
        Twoje hasło musi zawierać co najmniej 8 znaków.
    </li>
    <li>
        Twoje hasło nie może być powszechnie używanym hasłem.
    </li>
    <li>
        Twoje hasło nie może być całkowicie numeryczne.
    </li>
</ul>
<br>
<br>
<a href="{% url 'edit_profile' %}" class="btn btn-secondary">Wróć</a>
<br>
<br>
<hr>
{% endblock %}